html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #b87514;
  --color-brown-1: #ad3113;
}

.colorPrimary {
  color: 'var(--color-primary)';
}

.backgrounPrimary {
  background-color: 'var(--color-primary)';
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}

/* @media only screen and (max-width: 600px) {
  .my-masonry-grid {
    width: 100%;
  }
  .my-masonry-grid_column {
    padding-left: 0px; gutter size
  }
} */

/* sm */
@media only screen and (min-width: 30em) {
  .my-masonry-grid {
    width: 100%;
  }
}
/* md */
@media only screen and (min-width: 48em) {
}
/* lg */
@media only screen and (min-width: 1024px) {
  .my-masonry-grid {
    width: 100%;
    display: flex;
  }
}

/* lg */
@media only screen and (min-width: 768px) {
}

/* xl */
@media only screen and (min-width: 1390px) {
  .my-masonry-grid {
    width: 100%;
    display: flex;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.HideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.HideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.disableRadioHoverLaravelMigration > label:last-child {
  cursor: not-allowed;
}

.radioButtonUseDatabaseType > span {
  margin-left: 12px;
}

.chakra-radio__label {
  margin-inline-start: 10px !important;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 0.5em;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.hide-styled-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.hide-styled-scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 0.5em;
}
.hide-styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.stickyNavbarHome {
  position: fixed;
  display: flex !important;
  top: 0;
  width: 100%;
  z-index: 100000;
  /* padding: 25px 18px 25px 18px; */
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  /* max-width: 1106px; */
}

.stickyFilterMobileHome {
  position: fixed;
  display: flex !important;
  top: 0;
  width: 100%;
  z-index: 100000;
  /* padding: 25px 18px 25px 18px; */
  left: 0;
  padding: 16px;
  right: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  /* transition: all 0.5s ease; */
  /* max-width: 1106px; */
}

.stickySidebar {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 110px;
  /* padding: 25px 18px 25px 18px; */
  /* max-width: 1106px; */
}

.stickyBrandAbout {
  position: fixed;
  top: 20px;
  width: 100%;
  /* z-index: 100; */
  left: 60px;
  overflow-y: scroll;
  /* max-width: 1106px; */
}

.showPointerOnHover:hover {
  cursor: pointer;
}

/* .checboxBlack > span:checked {
} */
/* .chakra-checkbox__control {
  background: black;
  border-color: black;
  color: var(--chakra-colors-white);
}
input[type='checkbox']:checked > span {
  background: black;
  border-color: black;
  color: var(--chakra-colors-white);
} */

.chakra-checkbox__control {
  width: auto;
  height: auto;
  border: initial !important;
}

.stickyListModuleBrand {
  position: fixed;
  display: flex !important;
  top: 0;
  width: 100%;
  z-index: 10000;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  transition: all 0.5s ease;
  background-color: white;
  padding: 0 16px;
}

.sidebarLeftBrandDetail {
  position: fixed;
  top: 0;
  width: 248px;
  z-index: 10000;
}
